[include mainsail.cfg]
[include macros.cfg]
[include autotune_tmc.cfg]
[include thefilter.cfg]
[include KOMB_Variables.cfg]

########################################
# MCUs
########################################

# host MCU
[mcu Host]
serial: /tmp/klipper_host_mcu

# BTT Manta M8P MCU
[mcu]
canbus_uuid: 3e22109f9a41

# BTT EBB36 gen2 MCU
# [mcu EBB]
# canbus_uuid: a251b9a1bddf

# BTT SB2209 (rp2040)
[mcu EBB]
canbus_uuid: a8c4a0cd9c7a

# Cartographer Probe
# [mcu cartographer]
# canbus_uuid: be1b74f0906e

# BTT Eddy Duo
[mcu eddy]
canbus_uuid: bb8998534806

########################################
# Printer
########################################

[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 3000    			#Max 4000
max_z_velocity: 50 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

########################################
# Motors
########################################

# X Stepper - B Motor
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_x: virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 65
homing_retract_dist: 0
homing_positive_dir: true

# Y Stepper - A Motor
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_y: virtual_endstop
full_steps_per_rotation: 400
position_min: 0
position_endstop: 358
position_max: 358
homing_speed: 65
homing_retract_dist: 0
homing_positive_dir: true

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe: z_virtual_endstop
# endstop_pin: ^PF2
# position_endstop: 0
position_max: 340
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0

##	Z1 Stepper - Rear Left on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Z3 Stepper - Front Right on Motor7
[stepper_z3]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

########################################
# Extruder
########################################

# Extruder (Orbiter v2.5)
# [extruder]
# step_pin: EBB:PB14
# dir_pin: EBB:PA8
# enable_pin: !EBB:PB6
# microsteps: 16
# full_steps_per_rotation: 200
# rotation_distance: 4.590629999999999
# max_extrude_only_distance: 500
# max_extrude_only_velocity: 120
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# heater_pin: EBB:PB4
# sensor_type: EPCOS 100K B57560G104F
# pullup_resistor: 2200
# sensor_pin: EBB:PA3
# #control: pid
# #pid_Kp: 21.527
# #pid_Ki: 1.063
# #pid_Kd: 108.982
# min_temp: 0
# max_temp: 300

# Extruder (Clockwork V2)
[extruder]
step_pin: EBB:gpio18
dir_pin: EBB:gpio19
enable_pin: !EBB:gpio17
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 22.3387668335
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:gpio7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBB:gpio27
control: pid
pid_Kp: 26.213
pid_Ki: 1.304
pid_Kd: 131.721
min_temp: 0
max_temp: 300

########################################
# Motor Drivers
########################################

## A Motor
[tmc2209 stepper_x]
uart_pin: PC13
diag_pin: ^PF4
interpolate: true
run_current: 0.9
sense_resistor: 0.11
stealthchop_threshold: 0

## B Motor
[tmc2209 stepper_y]
uart_pin: PE3
diag_pin: ^PF3
interpolate: true
run_current: 0.9
sense_resistor: 0.11
stealthchop_threshold: 0

## Z1 Motor
[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 1.130
sense_resistor: 0.110
stealthchop_threshold: 0

## Z2 Motor
[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: true
run_current: 1.130
sense_resistor: 0.110
stealthchop_threshold: 0

## Z3 Motor
[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: true
run_current: 1.130
sense_resistor: 0.110
stealthchop_threshold: 0

## Z4 Motor
[tmc2209 stepper_z3]
uart_pin: PD5
interpolate: true
run_current: 1.130
sense_resistor: 0.110
stealthchop_threshold: 0

## BTT EBB36 extruder motor controller
# [tmc2209 extruder]
# uart_pin: EBB:PB3
# interpolate: true
# run_current: 0.85
# hold_current: 0.100
# sense_resistor: 0.11
# stealthchop_threshold: 0
# driver_TBL: 0
# driver_HEND: 6
# driver_HSTRT: 7
# driver_TOFF: 4

## BTT SB2209 (rp2040) extruder motor controller
[tmc2209 extruder]
uart_pin: EBB:gpio20
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[heater_bed]
heater_pin: PA1
sensor_pin: PB1 # TB 
sensor_type: ATC Semitec 104GT-2
#control: pid
min_temp: 0
max_temp: 120
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

########################################
# Fans
########################################

[fan]
pin: EBB:gpio13

[heater_fan hotend_fan]
pin: EBB:gpio14
heater: extruder
heater_temp: 50.0

# [fan]
# pin: EBB:PD3

# [heater_fan hotend_fan]
# pin: EBB:PA5
# heater: extruder
# heater_temp: 50.0

[temperature_fan MCU_fan]
pin: PF6
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp
max_temp: 70.0
target_temp: 50.0
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
max_speed: 1.0
min_speed: 0.2
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

########################################
# Aliases
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

########################################
# Host
########################################

[temperature_sensor Host]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp

########################################
# BTT Manta M8P
########################################

[temperature_sensor manta_m8p]
sensor_type: temperature_mcu
sensor_mcu: mcu

########################################
# BTT EBB36 Gen2
########################################

# [temperature_sensor EBB36]
# sensor_type: Generic 3950
# sensor_pin: EBB:PA0
# pullup_resistor: 2200

# [lis2dw]
# cs_pin: EBB:PB1
# spi_bus: spi2_PB2_PB11_PB10
# axes_map: x,y,z

########################################
# BTT SB2209 (rp2040)
########################################

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBB:gpio28

[adxl345]
cs_pin: EBB:gpio1
spi_software_sclk_pin: EBB:gpio2
spi_software_mosi_pin: EBB:gpio0
spi_software_miso_pin: EBB:gpio3
axes_map: z,-y,x

########################################
# Cartographer Probe
########################################

# [cartographer]
# mcu: cartographer
# x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
# y_offset: 20 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
# verbose: no # For extra output

# [temperature_sensor cartographer]
# sensor_type: temperature_mcu
# sensor_mcu: cartographer
# min_temp: 5
# max_temp: 105

# [adxl345]
# cs_pin: cartographer:PA0
# spi_bus: spi1
# axes_map: x,y,z

########################################
# BTT Eddy Duo
########################################

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0
y_offset: 21.42

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy_coil]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

########################################
# Chamber Thermistor
########################################

[temperature_sensor chamber]
sensor_type: PT1000
sensor_pin: PB0
min_temp: 0
max_temp: 100
gcode_id: C

########################################
# Orbiter Smart Sensor
########################################

# [gcode_macro _SENSOR_VARIABLES]         # change here macro configurables, enable/disablee functions! 
# variable_filament_load_min_temp :190    # minimum hotend set temperature allowed in filament load macro, default is 190
# gcode:

# [filament_switch_sensor O2_sensor]
# switch_pin: EBB:PB8
# pause_on_runout: False
# runout_gcode: runout_init
# insert_gcode: filament_load_init
# event_delay: 0.1 # may be changed to 0 for user with mmu
# pause_delay: 0.1

# [gcode_button filament_unload]
# pin: EBB:PB5
# press_gcode:  # filament unload procedure   
#  # M118 Debug Unload press
#   unload_tangle_init
# release_gcode: # do not add any macro call here
#   #M118 Debug Unload release

# # Include other macros from example config
# [include orbiter_smart_sensor.cfg]

########################################
# Bed Mesh
########################################

# [bed_mesh]
# zero_reference_position: 175, 175 # The centre of your bed. 
# speed: 300
# horizontal_move_z: 3
# mesh_min: 25, 25 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
# mesh_max: 325, 325 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
# probe_count: 32, 32
# mesh_pps: 0,0 

[bed_mesh]
horizontal_move_z: 3
speed: 200
mesh_min: 25, 25 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 325, 325 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 10, 10
algorithm: bicubic
#scan_overshoot: 8  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.


########################################
# Quad Gantry Level
########################################

[quad_gantry_level]
horizontal_move_z: 20
min_horizontal_move_z: 2.0
adaptive_horizontal_move_z: true
alternate_probe_direction: true
use_probe_xy_offsets: true
retries: 6
retry_tolerance: 0.0075
max_adjust: 20
speed: 97.5
gantry_corners:
  -60, -10
  410, 420
points:
  50,25
  50,275
  300,275
  300,25

########################################
# Homing
########################################

[safe_z_home]
home_xy_position: 175, 175
z_hop: 7

########################################
# Resonance Testing
########################################

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20

########################################
# Shake Tune
########################################

[shaketune]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 63.579
#*# pid_ki = 3.060
#*# pid_kd = 330.214
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 245.00
#*# pid_tolerance = 0.0200
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 55.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.032675, -0.017473, 0.008037, 0.031403, 0.048272, 0.053771, 0.053809, 0.045427, -0.000462, -0.058550
#*# 	-0.021866, -0.010134, -0.001751, 0.022590, 0.041328, 0.048678, 0.044522, 0.028502, 0.021047, -0.009825
#*# 	-0.017843, -0.018424, 0.002830, 0.019424, 0.034726, 0.038216, 0.033586, 0.027775, 0.004209, -0.017807
#*# 	-0.026553, -0.013059, 0.011925, 0.012134, 0.031480, 0.030255, 0.024004, 0.019715, -0.003939, -0.038790
#*# 	-0.014768, -0.002961, 0.010484, 0.012673, 0.034855, 0.023445, 0.019921, 0.007481, -0.017616, -0.066692
#*# 	-0.009170, -0.003328, -0.001516, 0.009597, 0.020979, 0.020331, 0.010810, -0.003690, -0.029598, -0.073389
#*# 	-0.013902, -0.020866, -0.020644, -0.012866, 0.000433, 0.002885, -0.005521, -0.015537, -0.037423, -0.074611
#*# 	-0.017030, -0.033978, -0.014554, -0.012481, 0.001519, 0.009056, 0.008462, -0.004192, -0.031247, -0.058939
#*# 	-0.011016, -0.020367, -0.018135, -0.000767, 0.023840, 0.030904, 0.025949, 0.012147, -0.014263, -0.041821
#*# 	0.014183, 0.015947, 0.019041, 0.022253, 0.041821, 0.040811, 0.031909, 0.038831, 0.018884, -0.007207
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 324.97
#*# min_y = 25.0
#*# max_y = 324.97
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16, 17
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 17
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUNTHZg7PI/g/bgdN1C1h+j89uIt01a3nP1DiMPbYEdg/yK7O7Kprxz9p2RZEd+e/P6QyzT/B4sI/Y5qb5lF9wz+OtvKivvu1P0lXDX5uopk/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQQW71NpRWlD7StZXqlOaUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQdazyMNQeGkCO6ma+U4MIQMHhQ7NQDf0/b4UgKP8I7j9MiVRkMjPJPxNBXGfpXfA/7ezwkLjB5T9p2hB4ikLnvzPpQXw9S+Q/hRRKfzjl8D+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEI8aTzsW4pQ+6YUlWGL+lD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DCyFUjqMSUPhUptgE0Jiw+ZctdLsx/IL6IG9kN0uAKPnxvf7Xur9C96wVuaJ3iiD0KdtWUqT4CvvPJrwKFQPk9M3ElmjqS9D1w/epa41bwvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQYHtfdsK21T+2xKFXcPwTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/1bbCdl97YEdALf/yaxIIomWMB2ZfcmFuZ2WUXZQoR0FIY2Z+MNgAR0FJLJ8qmygAZYwCZGOUSxB1Lg==
#*# calibration_17 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUAcU+P5xDfI/gG/SoFtl+j8t9ilzn53oP4xWzSHKO9I/S0V8HjuG3D9iZiKOu9XqP2gEf4WsMM2/c2rIfONy678msXAw7jjYP7gQ5sxJe+I/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQzbFWQ39GlD6lu9x4IgWVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQ1JWehH0YGkApzlBxW1YIQDLMyWn8Q/o/jghR5rO59D8HCsJ7tDfxP4vpWrdsPMm/O7YOAqx34r8Q3vls1/PwPxrjcT7rv/M/jt7humMbyT+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEGHM5WFpAJU+H6AjdrYdlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1CPnZFjWt2UPjVeyhMvIDE+c/ggyoNxJr5FIxLzIJsWPuPCBbH+l/W9dFydpYQzyD3VXLyULCP/vdxlg+zjivg9ZR216HuV4z360TqwCdnkvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAFP7d2fhLj+2sKwiiPUTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/LuFnd/tTAEdALf/+DoQMe2WMB2ZfcmFuZ2WUXZQoR0FIPzeNGIAAR0FJQJbacuAAZYwCZGOUSxF1Lg==
