[include mainsail.cfg]
[include macros.cfg]
[include autotune_tmc.cfg]

########################################
# MCUs
########################################

# host MCU
[mcu CB1]
serial: /tmp/klipper_host_mcu

# manta m8p MCU
[mcu]
canbus_uuid: 3e22109f9a41

# EBB36 gen2 MCU
[mcu EBB]
canbus_uuid: a251b9a1bddf

# Cartographer Probe
[mcu cartographer]
canbus_uuid: be1b74f0906e

########################################
# Printer
########################################

[printer]
kinematics: corexy
max_velocity: 650  
max_accel: 3000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

########################################
# Motors
########################################

# X Stepper - B Motor
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_x: virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 65
homing_retract_dist: 5
homing_positive_dir: true

# Y Stepper - A Motor
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_y: virtual_endstop
full_steps_per_rotation: 400
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 65
homing_retract_dist: 5
homing_positive_dir: true

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe: z_virtual_endstop
# position_endstop: 0
position_max: 340
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0

##	Z1 Stepper - Rear Left on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Z3 Stepper - Front Right on Motor7
[stepper_z3]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

########################################
# Extruder
########################################

# Extruder
[extruder]
step_pin: EBB:PB14
dir_pin: EBB:PA8
enable_pin: !EBB:PB6
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.590629999999999
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:PB4
sensor_type: EPCOS 100K B57560G104F
pullup_resistor: 2200
sensor_pin: EBB:PA3
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300

########################################
# Motor Drivers
########################################

## Motor1
[tmc2209 stepper_x]
uart_pin: PC13
diag_pin: ^PF4
interpolate: true
run_current: 0.9
sense_resistor: 0.11
stealthchop_threshold: 999999

## Motor2
[tmc2209 stepper_y]
uart_pin: PE3
diag_pin: ^PF3
interpolate: true
run_current: 0.9
sense_resistor: 0.11
stealthchop_threshold: 999999

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 1.130
sense_resistor: 0.110
stealthchop_threshold: 0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: true
run_current: 1.130
sense_resistor: 0.110
stealthchop_threshold: 0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: true
run_current: 1.130
sense_resistor: 0.110
stealthchop_threshold: 0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PD5
interpolate: true
run_current: 1.130
sense_resistor: 0.110
stealthchop_threshold: 0

## EBB36 extruder motor controller
[tmc2209 extruder]
uart_pin: EBB:PB3
interpolate: true
run_current: 0.85
hold_current: 0.100
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[heater_bed]
heater_pin: PA1
sensor_pin: PB1 # TB 
sensor_type: ATC Semitec 104GT-2
#control: pid
min_temp: 0
max_temp: 120
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

########################################
# Fans
########################################

[fan]
pin: EBB:PD3

[heater_fan hotend_fan]
pin: EBB:PA5
heater: extruder
heater_temp: 50.0

[temperature_fan MCU_fan]
pin: PF6
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp
max_temp: 70.0
target_temp: 50.0
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
max_speed: 1.0
min_speed: 0.2
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

########################################
# Aliases
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

########################################
# Host
########################################

[temperature_sensor CB1]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp

########################################
# Manta M8P
########################################

[temperature_sensor manta_m8p]
sensor_type: temperature_mcu
sensor_mcu: mcu

########################################
# EBB36 Gen2
########################################

[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200

# [lis2dw]
# cs_pin: EBB:PB1
# spi_bus: spi2_PB2_PB11_PB10
# axes_map: x,y,z

########################################
# Cartographer Probe
########################################

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 20 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
cs_pin: cartographer:PA0
spi_bus: spi1

########################################
# Orbiter Smart Sensor
########################################

[gcode_macro _SENSOR_VARIABLES]         # change here macro configurables, enable/disablee functions! 
variable_filament_load_temp     :230    # temperature to heat up hotend for filament loading, default is 235
variable_filament_unload_temp   :185    # temperature to heat up hotend for filament unloading, default is 185
variable_filament_load_min_temp :190    # minimum hotend set temperature allowed in filament load macro, default is 190
variable_nozzle_purge_length    :100    # filament extrude amount during load sequence, hotend purge from old filament, default is 200
variable_nozzle_purge_speed     :450    # filament extrude speed in mm/min adjust this value lower if flow is too high and extruder skips during loading, default is 300
variable_unload_distance        :65     # filament retract distance for unload procedure. this length shall be long enough to extract the filament above the drive gears
variable_disable_autoload       :False  # disable filament autoload feature by setting this variable True
variable_disable_autounload     :False  # disable filamen unload by unload button
variable_disable_runout         :False  # disable runout by setting this variable True
variable_disable_autochange     :True   # disable filament auto change after runout detection
variable_disable_tangle         :False  # disable tangle by setting this variable True
variable_pause_timeout          :3600   # printer timeout setting in seconds, avoids disabling of steppers and heaters after klipper default timeout of 600s 
variable_enable_beep            :False   # uses M300 sound feature, set it True to enable
variable_park_position_x        :20     # edit your X parking position here for pause macro triggered by runout
variable_park_position_y        :0      # edit your Y parking position here for pause macro triggered by runout
variable_park_lift_z            :20     # edit your Z-Lift amount for parking position here, default is 10
Variable_park_retraction        :1      # edit your retraction amount for parking, default is 1
gcode:

[filament_switch_sensor O2_sensor]
switch_pin: EBB:PB8
pause_on_runout: False
runout_gcode: runout_init
insert_gcode: filament_load_init
event_delay: 0.1 # may be changed to 0 for user with mmu
pause_delay: 0.1

[gcode_button filament_unload]
pin: EBB:PB5
press_gcode:  # filament unload procedure   
 # M118 Debug Unload press
  unload_tangle_init
release_gcode: # do not add any macro call here
  #M118 Debug Unload release

# Include other macros from example config
[include orbiter_smart_sensor.cfg]

########################################
# Bed Mesh
########################################

[bed_mesh]
zero_reference_position: 175, 175 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 0, 0 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 350, 350 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 

########################################
# Quad Gantry Level
########################################

[quad_gantry_level]
horizontal_move_z: 17.5
min_horizontal_move_z: 2.0
adaptive_horizontal_move_z: true
alternate_probe_direction: true
use_probe_xy_offsets: true
retries: 5
retry_tolerance: 0.0075
max_adjust: 20
speed: 95
gantry_corners:
  -60, -10
  410, 420
points:
  50, 50
  50, 300
  300, 300
  300, 50

########################################
# Homing
########################################

[safe_z_home]
home_xy_position: 175, 175
z_hop: 7

########################################
# Resonance Testing
########################################

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20

########################################
# Shake Tune
########################################

[shaketune]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 63.579
#*# pid_ki = 3.060
#*# pid_kd = 330.214
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 245.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 17.189
#*# pid_ki = 1.910
#*# pid_kd = 38.674
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 55.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.3959702640052007,1.8678829970904882,0.8423136884335476,0.4019942045010484,0.43660462628235436,0.5646700312061553,-0.21378261336021415,-0.49919181583816313,0.33858741065731657,0.3657159355973003
#*# domain = 3.1854503008341403e-07,3.4021016149665666e-07
#*# z_offset = 0
#*# reference_temperature = 28.17
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1984
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
